## Location Modelling
### Address extraction, Address parsing, and Geocoding

In [2]:
import pandas as pd
import numpy as np

import codecs, json
import requests
from bs4 import BeautifulSoup

In [5]:
pip install address

Collecting address
  Downloading address-0.1.1.tar.gz (110 kB)
     ------------------------------------ 110.8/110.8 kB 143.0 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: address
  Building wheel for address (setup.py): started
  Building wheel for address (setup.py): finished with status 'done'
  Created wheel for address: filename=address-0.1.1-py3-none-any.whl size=110197 sha256=7b8b2dc279bea9092944612a25d6701643040cc27d74ce999179bb0d3e6fd645
  Stored in directory: c:\users\abhinaya\appdata\local\pip\cache\wheels\39\5b\74\1f7461ca954bab5c4a6c9f0734bfc86e3ba31580080db4d515
Successfully built address
Installing collected packages: address
Successfully installed address-0.1.1
Note: you may need to restart the kernel to use updated packages.

In [13]:
from address_parser import Parser
import usaddress
#from postal.parser import parse_address
#from postal.expand import expand_address

In [15]:
pip install censusdata

Collecting censusdata
  Downloading CensusData-1.15.post1.tar.gz (26.6 MB)
     -------------------------------------- 26.6/26.6 MB 435.2 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas in c:\users\abhinaya\anaconda3\lib\site-packages (from censusdata) (1.4.4)
Requirement already satisfied: requests in c:\users\abhinaya\anaconda3\lib\site-packages (from censusdata) (2.28.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\abhinaya\anaconda3\lib\site-packages (from pandas->censusdata) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\abhinaya\anaconda3\lib\site-packages (from pandas->censusdata) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\abhinaya\anaconda3\lib\site-packages (from pandas->censusdata) (2022.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\abhinaya\anaconda3\lib\site-packages (from requests->censusdata) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abhinaya\anaconda3\lib\site-packages (from requests->censusdata) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\abhinaya\anaconda3\lib\site-packages (from requests->censusdata) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\abhinaya\anaconda3\lib\site-packages (from requests->censusdata) (3.3)
Requirement already satisfied: six>=1.5 in c:\users\abhinaya\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->censusdata) (1.16.0)
Building wheels for collected packages: censusdata
  Building wheel for censusdata (setup.py): started
  Building wheel for censusdata (setup.py): finished with status 'done'
  Created wheel for censusdata: filename=CensusData-1.15.post1-py3-none-any.whl size=28205746 sha256=dc1332a44f60160699032b476a0b5694fedd82e8975e2ae5d355aed72c7405a3
  Stored in directory: c:\users\abhinaya\appdata\local\pip\cache\wheels\54\96\84\245773d5290c5bb024ff9c3d80fc5466eefed704b4136cfe85
Successfully built censusdata
Installing collected packages: censusdata
Successfully installed censusdata-1.15.post1
Note: you may need to restart the kernel to use updated packages.

In [17]:
pip install census

Collecting census
  Downloading census-0.8.19-py3-none-any.whl (11 kB)
Requirement already satisfied: requests>=1.1.0 in c:\users\abhinaya\anaconda3\lib\site-packages (from census) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\abhinaya\anaconda3\lib\site-packages (from requests>=1.1.0->census) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\abhinaya\anaconda3\lib\site-packages (from requests>=1.1.0->census) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\abhinaya\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abhinaya\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2022.9.14)
Installing collected packages: census
Successfully installed census-0.8.19
Note: you may need to restart the kernel to use updated packages.

In [19]:
pip install us

Collecting usNote: you may need to restart the kernel to use updated packages.

  Downloading us-2.0.2.tar.gz (14 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting jellyfish==0.6.1
  Downloading jellyfish-0.6.1.tar.gz (132 kB)
     ------------------------------------ 132.6/132.6 kB 118.6 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: us, jellyfish
  Building wheel for us (setup.py): started
  Building wheel for us (setup.py): finished with status 'done'
  Created wheel for us: filename=us-2.0.2-py3-none-any.whl size=11940 sha256=7af8f5b3ee8cb2822d2cca69e96bd8c9c648a94f13f2d7e1636d3f42fe2f7450
  Stored in directory: c:\users\abhinaya\appdata\local\pip\cache\wheels\1a\93\5b\98d3861ec2c4a9d90b16324c6f8d7e4db03e6a830bc993adbb
  Building wheel for jellyfish (setup.py): started
  Building wheel for jellyfish (setup.py): finished with status 'done'
  Created wheel for jellyfish: filename=jellyfish-0.6.1-py3-none-any.whl size=10369 sha256=c0979223fb666b55e62060b1af1ea5533562116f8efece6599ddaf2abf32cc75
  Stored in directory: c:\users\abhinaya\appdata\local\pip\cache\wheels\e6\7d\be\a937dbd1f988778a15011a563ac3a12917103bfc25ff6cb473
Successfully built us jellyfish
Installing collected packages: jellyfish, us
  Attempting uninstall: jellyfish
    Found existing installation: jellyfish 0.9.0
    Uninstalling jellyfish-0.9.0:
      Successfully uninstalled jellyfish-0.9.0
Successfully installed jellyfish-0.6.1 us-2.0.2

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.2.2 requires pyqtwebengine<5.13, which is not installed.
spyder 5.2.2 requires jellyfish>=0.7, but you have jellyfish 0.6.1 which is incompatible.
spyder 5.2.2 requires pyqt5<5.13, but you have pyqt5 5.15.7 which is incompatible.

In [20]:
import censusdata
from census import Census
from us import states

In [22]:
pip install geocodio

Collecting geocodio
  Downloading geocodio-1.0.1.tar.gz (1.9 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: Requests>=2.2.0 in c:\users\abhinaya\anaconda3\lib\site-packages (from geocodio) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\abhinaya\anaconda3\lib\site-packages (from Requests>=2.2.0->geocodio) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\abhinaya\anaconda3\lib\site-packages (from Requests>=2.2.0->geocodio) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\abhinaya\anaconda3\lib\site-packages (from Requests>=2.2.0->geocodio) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abhinaya\anaconda3\lib\site-packages (from Requests>=2.2.0->geocodio) (2022.9.14)
Building wheels for collected packages: geocodio
  Building wheel for geocodio (setup.py): started
  Building wheel for geocodio (setup.py): finished with status 'done'
  Created wheel for geocodio: filename=geocodio-1.0.1-py3-none-any.whl size=2543 sha256=2c74344672de6ec9bc6d29526718adc942a6af8060d16f382677ef13b5533d08
  Stored in directory: c:\users\abhinaya\appdata\local\pip\cache\wheels\db\53\84\f2ff16dbb1841adcce45ca4994e7b2c7d2dc07cf9829c88f84
Successfully built geocodio
Installing collected packages: geocodio
Successfully installed geocodio-1.0.1
Note: you may need to restart the kernel to use updated packages.

In [27]:
pip install googlemaps

Collecting googlemaps
  Downloading googlemaps-4.10.0.tar.gz (33 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\abhinaya\anaconda3\lib\site-packages (from googlemaps) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\abhinaya\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\abhinaya\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\abhinaya\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abhinaya\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2022.9.14)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py): started
  Building wheel for googlemaps (setup.py): finished with status 'done'
  Created wheel for googlemaps: filename=googlemaps-4.10.0-py3-none-any.whl size=40717 sha256=b09d8eb6791956320fa6d25a9b4859e4dc280a20c14974b7516a861ce12e48e6
  Stored in directory: c:\users\abhinaya\appdata\local\pip\cache\wheels\d9\5f\46\54a2bdb4bcb07d3faba4463d2884865705914cc72a7b8bb5f0
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.10.0
Note: you may need to restart the kernel to use updated packages.

In [28]:
import googlemaps

In [29]:
pd.set_option('display.max_rows', 300)
pd.set_option('display.max_columns',100)

## Import combined NTU and Tweets Dataset

In [30]:
df_1 = pd.read_csv('df_combined.csv')

C:\Users\Abhinaya\AppData\Local\Temp\ipykernel_3444\3880552902.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1 = pd.read_csv('df_combined.csv')

In [31]:
df_1.shape

(267682, 3)

In [32]:
df_1.head()

,date,id,tweet
0,2017-08-13,896826568269598720.0,Gert could become a quite intense post-tropica...
1,2017-08-14,897012836131581952.0,"Weather Street: Tropical Storm Harvey, Hurrica..."
2,2017-08-14,897086851709796352.0,Tropical Storm #Gert intensifying. Tropical St...
3,2017-08-14,897088053407363072.0,Tropical Storm #Gert intensifying. Tropical St...
4,2017-08-14,897088252326424576.0,"RT YourNews15 ""Tropical Storm #Gert intensifyi..."

## Import labeled data CSV

In [34]:
# 'Nb'label' is CSV from Naive Bayes classification model in previous notebook

df_nb = pd.read_csv('nb_labels.csv', index_col = 0)

In [35]:
# Concatenate Tweet dataframe and labels dataframe

df = pd.concat([df_1, df_nb], axis=1)

In [36]:
df.head()

,date,id,tweet,nb_label
0,2017-08-13,896826568269598720.0,Gert could become a quite intense post-tropica...,0
1,2017-08-14,897012836131581952.0,"Weather Street: Tropical Storm Harvey, Hurrica...",0
2,2017-08-14,897086851709796352.0,Tropical Storm #Gert intensifying. Tropical St...,0
3,2017-08-14,897088053407363072.0,Tropical Storm #Gert intensifying. Tropical St...,0
4,2017-08-14,897088252326424576.0,"RT YourNews15 ""Tropical Storm #Gert intensifyi...",0

In [37]:
# Check Emergency labeled value counts

df['nb_label'].value_counts()

0    266677
1      1005
Name: nb_label, dtype: int64

## Create filtered dataframe for only emergency tweets

In [38]:
df_help = df[df['nb_label']==1]

In [39]:
df_help.shape

(1005, 4)

## Import texas cities census data

In [40]:
# Texas cities from US CensusData Population Estimates

tx_cities = pd.read_csv('texas_cities.csv', skiprows=1)

In [41]:
tx_cities.head()

,Id,Id2,Geography,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017,Population Estimate (as of July 1) - 2018
0,1620000US4800100,4800100,"Abbott city, Texas",356,361,362,362,361,358,354,354,357,363,367
1,1620000US4800160,4800160,"Abernathy city, Texas",2805,2812,2818,2833,2822,2796,2743,2725,2747,2745,2724
2,1620000US4801000,4801000,"Abilene city, Texas",117063,117512,117806,118749,119852,119792,120647,121694,121856,122210,122999
3,1620000US4801108,4801108,"Ackerly city, Texas",220,220,220,219,219,225,228,230,231,226,227
4,1620000US4801240,4801240,"Addison town, Texas",13056,13062,13091,13798,15199,15437,15501,15587,15516,15497,15945

In [42]:
# Extract Geography-Cities Column to a list

cities = tx_cities['Geography']

In [43]:
cities.head()

0       Abbott city, Texas
1    Abernathy city, Texas
2      Abilene city, Texas
3      Ackerly city, Texas
4      Addison town, Texas
Name: Geography, dtype: object

In [44]:
# Clean City name to remove city/town suffix and State

tx_city_list = []
for city in cities: 
    city = ' '.join(city.split()[:-2]).lower()
    tx_city_list.append(city)

## Scrape Houseton Streets from geographic.org

In [45]:
# Define function to scrape street names from Geographic.org
# with state and city parameters


def scrape_streets(state, city):
    base = 'https://geographic.org/streetview/usa/'
    suffix = '.html'
    url = base + state +'/' + city + suffix
    request = requests.get(base + state +'/' + city + suffix).text
    soup = BeautifulSoup(request, 'lxml')
    my_table = soup.find('span',{'class':'listspan'})
    st_tags = my_table.findAll('a')

    streets = []
    for i in range(1,len(st_tags)):
        streets.append(st_tags[i].string)
    
    return streets

In [46]:
# Scrape streets for Houston, Texas

streets = scrape_streets('tx', 'houston')

In [47]:
# 12.5k streets from Google street view

len(streets)

12561

In [48]:
# Lower case street names

streets_low = [st.lower() for st in streets]

In [49]:
streets_low[100:105]

['adelle st', 'adina springs ln', 'adirondack dr', 'adler dr', 'adler lake dr']

In [50]:
# Drop Duplicate Street Names

streets_low = list(set(streets_low))
streets_low.sort()

In [51]:
# Set variable for streets to drop
# Street inside aiport causes some issues during lookup

st_to_drop = ['a ave - william p. hobby airport (hou)']
streets_low = [x for x in streets_low if x not in st_to_drop]

In [52]:
# Find Streets that have single name duplicate with 
# streets that have street suffix

st_to_drop = []
for i in range(len(streets_low)): 
    if len(streets_low[i].split()) < 2:
        if streets_low[i].split()[0] == streets_low[i+1].split()[0]: 
            st_to_drop.append(streets_low[i])

In [53]:
# Drop Street Duplicates from above

streets_low = [x for x in streets_low if x not in st_to_drop]

In [54]:
# Check how many street names remaining

len(streets_low)

12298

In [55]:
# Function to Process Street Name List for Lookup 
# Reducing Street Name down to 1 or 2 words,without suffixes except for short words
# Based on research, users only include suffix for short words

def street_processing(street_list):

    st_first  = [st.split(' ')[0] for st in street_list]  # create list of all first words

    main_search = []                     # list to hold street_names used for lookup

    for street in street_list: 
        first_word = street.split()[0]   # set first_word of street name to variable for test

        if len(street.split()) < 2:      # if street name is only one word

            if first_word[0].isdigit() == False:  # if first character is a letter

                main_search.append(street)         # append the one word street name to main search list
                #one_wd_st.append(street)           

            else: 
                main_search.append(street +' '+ 'st')  # append one word digit name + 'st' to main search_list

        elif len(street.split()) == 2:        # if street name is two words 

            second_word = street.split()[1]   # create second word variable for streets with at least 2 words


            if len(first_word) < 6:          # if first word is less than 6 characters

                #if first_word[0].isdigit() == False:   # if first character is char, this doesnt matter

                main_search.append(first_word + ' ' + second_word)    # append first and second word to search

            elif len(first_word) >= 6:         # if first word is at least 6 characters

                if first_word[0].isdigit():   # first word starts with num

                    main_search.append(first_word + ' ' + second_word) # append first and second word to search

                else:                         # starts w char

                    main_search.append(first_word)  # append only first word

        elif len(street.split()) > 2:         # street name is more than two words

            second_word = street.split()[1]   # create second word again for different if statement

            main_search.append(first_word + ' ' + second_word)   # append first two words

    return main_search

In [56]:
# Execut Street Processing Function

street_lookup = street_processing(streets_low)

In [57]:
## Remove Duplicates from newly cleaned street list

street_lookup = list(set(street_lookup))
street_lookup.sort()

## Emergency tweets for address extraction testing
### Test tweets were manually pulled from twitter, for known Harvey emergency related tweets on city of Houston Twitter account during the hurricane
### These tweets are not in the dataset

In [58]:
twt_1 = ('My 83 y.o. Parents in imminent danger at 4922 Loch Lomond #Meyerland. Water knee deep inside home.'
         ' Mom=heart condition. Dad=Alzheimer\'s')

twt_2 = ('We are not at inches, we are at 4-5 feet in this neighborhood. Wood Shadows II 11607 Lafferty Oaks')

twt_3 = ('Plz help!! brother &family stuck in Dickson. 4901 38th street'
         ' dickinson, tx 77539 his name is Rey (409) 999-0010')

twt_4 = ('911 and coast guard ring busy. 4923 Braesvalley 77096.  4 adults, one disabled teen. on 2nd floor'
         ' Elderly couple across street trapped.')

twt_5 = ('We\'re at the Redford Square Apartments 9406 Redford Street off 45 and Edgebrook'
         ' we have a new born baby please help us the first floor Apart')

twt_6 = ('412 Texas St. South Houston TX 77587')

twt_7 = ('Apt 2105 at Meyer Forest Apts, she is handicapped and she cant get out, this is in Meyerland')

#twt_8 = 'How \'bout 12"?  Is 12" in a home a danger to an elderly person with limited mobility? '\
#         '2608 Martin Street, @PasadenaTX @PasadenaPD'
    
twt_8 = ('How \'bout 12"?  Is 12" in a home a danger to an elderly person with limited mobility?'
         ' 2608 Martin Street, PasadenaTX PasadenaPD')

In [59]:
# combine tweets into list

test_twts = [twt_1, twt_2,twt_3, twt_4, twt_5, twt_6, twt_7, twt_8]

In [60]:
# lower case tweets

twts_low = [twt.lower() for twt in test_twts ]

In [61]:
# Common words after numbers that are not addresses, will be used to filter tweets with
# digits that are not address components

num_excluders = ['feet', 'inches', 'people', 'adults']

## Testing: Lookup street name and extract address

In [62]:
# Test Tweet 2

matches = []
count = 0
for street in street_lookup: 
    if street in twt_2.lower(): 
        matches.append(street)
        print(street)

lafferty
lafferty oaks
shadow

In [63]:
# Extracting Street Number

twt_2_tok = twt_2.lower().split()

match_idx = twt_2.lower().split().index(matches[0])

if twt_2_tok[match_idx - 1].isdigit():
    street_num = twt_2_tok[match_idx - 1]
    
street_num

'11607'

In [64]:
# Combine above extractions

min_address = []
for match in matches: 
    if len(match.split()) > 1:
        match_idx = twt_2.lower().split().index(match.split()[0])
        if twt_2_tok[match_idx - 1].isdigit():
            street_num = twt_2_tok[match_idx - 1]
            min_address.append(street_num +' '+match)

In [65]:
min_address

['11607 lafferty oaks']

Address extraction method above requires additional development to extract the full address. Because it was not fully complete, ultimately it was not used.

For this method to be effective, we will need to include street names for other cities and townships outside of Houston which are not on the current street
lookup list. Our dataset contains many tweets from Port Arthur and Dickinson, both outside of Houston. For tweets with those addresses, without those street
lists we would overlook those address during the lookup and filter step.

## Filter Emergency (df_help) dataframe

In [67]:
df_help.head(10)

,date,id,tweet,nb_label
6624,2017-08-24,900740378042617984.0,Please don't forget about your pets during Tro...,1
13617,2017-08-27,901915749261836416.0,Here's how you can help with #Tropical_Storm_H...,1
14131,2017-08-27,901930631034273792.0,Come on #tropicalstorm #Harvey u need to go!!!...,1
27074,2017-08-30,902889514028412800.0,Did you forget Harvey is a Tropical Storm and ...,1
33222,2017-08-25,901000000000000000.0,Stay Safe #Texas Evacuate if you must & don't ...,1
33564,2017-08-25,901000000000000000.0,Better hurry,1
33648,2017-08-25,901000000000000000.0,"In your runs to get food and water, make sure ...",1
33848,2017-08-25,901000000000000000.0,"I?ve had stronger hurricanes at Pat O? Briens,...",1
33984,2017-08-25,901000000000000000.0,#HurricaneHarvey pls come thru. I'm tryna slee...,1
34346,2017-08-25,901000000000000000.0,#TRUMP will be there #HurricaneHarvey #TEXAS e...,1

In [68]:
df_help.shape

(1005, 4)

## Check help tweets for potential address

In [69]:
# Define 'has number' function to test if string has a digit

def has_num(input_str):
     return any(char.isdigit() for char in input_str)

In [70]:
# Check for Street Name match and presence of a digit in tweet
# Create new columns with Binary Identifier 1 for match & list of street matches

matches = []
bin_match = []
for twt in df_help['tweet']: 
    st_match = []
    add_ct = 0 
    bin_ct = 0
    
    for street in street_lookup:
        if street in twt.lower():
            if has_num(twt.lower()):
                add_ct += 1
                st_match.append(street)
                bin_ct = 1
    matches.append(st_match)
    bin_match.append(bin_ct)
df_help['st_matches'] = pd.Series(matches, index=df_help.index)
df_help['bin_match'] = pd.Series(bin_match, index=df_help.index)

C:\Users\Abhinaya\AppData\Local\Temp\ipykernel_3444\1969472212.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_help['st_matches'] = pd.Series(matches, index=df_help.index)
C:\Users\Abhinaya\AppData\Local\Temp\ipykernel_3444\1969472212.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_help['bin_match'] = pd.Series(bin_match, index=df_help.index)

In [71]:
df_help.head()

,date,id,tweet,nb_label,st_matches,bin_match
6624,2017-08-24,900740378042617984.0,Please don't forget about your pets during Tro...,1,[],0
13617,2017-08-27,901915749261836416.0,Here's how you can help with #Tropical_Storm_H...,1,"[harvey, tropical]",1
14131,2017-08-27,901930631034273792.0,Come on #tropicalstorm #Harvey u need to go!!!...,1,[],0
27074,2017-08-30,902889514028412800.0,Did you forget Harvey is a Tropical Storm and ...,1,[],0
33222,2017-08-25,901000000000000000.0,Stay Safe #Texas Evacuate if you must & don't ...,1,[],0

In [72]:
# Check Street name + num matching counts

df_help['bin_match'].value_counts()

0    809
1    196
Name: bin_match, dtype: int64

In [73]:
# Create Dataframe filtered for Address partial match

df_add = df_help[df_help['bin_match']==1]

In [74]:
df_add.shape

(196, 6)

## Address Parsing Pipeline

### Addresses Manually Inspected and Extracted

Below addresses were pulled for testing and mapping in the following notebook prior to completion of above Parser function. These address were used in mapping for the demonstration of mapping functionality in the Presentation. Some but not all of these address overlap with the identified addresses in the above filtered dataframe

In [75]:
idx = [265179, 267654, 267451, 267422, 265192, 265161, 265146, 265145]
address = ['9407 Cranleigh Ct. Houston 77096', '4724 Amalie St Houston','3226 Ave G',
           '8015 Serenity Court Houston, TX', '5400 Bayou Dr. Dickson, TX', 
           'Big Bend Avenue, 39th St., Port Arthur','340 West 17th St. Port Arthur, TX 77640',
          '3605 Jimmy Johnson Blvd Apt. 1002 Port Arthur TX 77642']
lat = ['29.6784058','29.8551516' '29.465968099', '29.6948069', '29.4494273','29.9147006', '29.8748434', 
      '29.8748434', '29.945638']
lng = ['-95.4633444','-95.323505099',  '-95.059360599', '-95.422081499', '-95.0609667', '-93.9485301',
      '-93.9523373999999', '-93.952337399','-93.9755919999']

In [76]:
tweet_1 = df.loc[265179, 'tweet']
tweet_2 = df.loc[265145, 'tweet']
tweet_3 = df.loc[267654, 'tweet']
tweet_4 = df.loc[267451, 'tweet']
tweet_5 = df.loc[267422, 'tweet']
tweet_6 = df.loc[265161, 'tweet']
tweet_7 = df.loc[265146, 'tweet']
tweet_8 = df.loc[265145, 'tweet']

## Testing Libpostal parser on raw extracted tweets

In [78]:
import usaddress

In [79]:
usaddress.parse(tweet_1)

[('houstonpolice', 'Recipient'),
 ('#', 'Recipient'),
 ('HarveyRescue', 'Recipient'),
 ('#', 'Recipient'),
 ('HarveySOS', 'Recipient'),
 ('9407', 'AddressNumber'),
 ('Cranleigh', 'StreetName'),
 ('Ct.', 'StreetNamePostType'),
 ('Houston', 'SubaddressType'),
 ('77096', 'SubaddressIdentifier'),
 ('PLEASE', 'SubaddressType'),
 ('FAMILY', 'SubaddressIdentifier'),
 ('OF', 'SubaddressType'),
 ('5', 'SubaddressIdentifier'),
 ('NEED', 'SubaddressType'),
 ('HELP.', 'Recipient'),
 ("They're", 'Recipient'),
 ('trapped', 'Recipient'),
 ('on', 'Recipient'),
 ('the', 'Recipient'),
 ('roof', 'Recipient'),
 ('#', 'Recipient'),
 ('houston', 'Recipient')]

In [80]:
usaddress.parse(tweet_2)

[('HarveyRescue', 'Recipient'),
 ('3', 'Recipient'),
 ('adults', 'Recipient'),
 ('and', 'Recipient'),
 ('4', 'Recipient'),
 ('children', 'Recipient'),
 ('need', 'Recipient'),
 ('help.', 'Recipient'),
 ('3605', 'AddressNumber'),
 ('Jimmy', 'StreetName'),
 ('Johnson', 'StreetName'),
 ('Blvd', 'StreetNamePostType'),
 ('Apt.', 'OccupancyType'),
 ('1002', 'OccupancyIdentifier'),
 ('Port', 'PlaceName'),
 ('Arthur', 'PlaceName'),
 ('TX', 'StateName'),
 ('77642.', 'ZipCode'),
 ('#', 'Recipient'),
 ('HarveySOS', 'Recipient')]

In [81]:
usaddress.parse(tweet_3)

[("I've", 'Recipient'),
 ('got', 'Recipient'),
 ('a', 'Recipient'),
 ('scared', 'Recipient'),
 ('friend', 'Recipient'),
 ('at', 'Recipient'),
 ('4724', 'AddressNumber'),
 ('Amalie', 'StreetName'),
 ('St.', 'StreetNamePostType'),
 ('please', 'Recipient'),
 ('send', 'Recipient'),
 ('help', 'Recipient'),
 ('KHOU', 'Recipient'),
 ('houstonpolice', 'Recipient'),
 ('abc13houston', 'Recipient'),
 ('HoustonTX', 'Recipient')]

In [82]:
usaddress.parse(tweet_4)

[('My', 'Recipient'),
 ('FIL', 'Recipient'),
 ('Frank', 'Recipient'),
 ('Emmitte', 'Recipient'),
 ('is', 'Recipient'),
 ('trapped', 'Recipient'),
 ('3226', 'Recipient'),
 ('Ave', 'Recipient'),
 ('G', 'Recipient'),
 ('with', 'Recipient'),
 ("4-5'", 'Recipient'),
 ('water.', 'Recipient'),
 ('He', 'Recipient'),
 ('is', 'Recipient'),
 ('elderly,', 'Recipient'),
 ('cannot', 'Recipient'),
 ('walk', 'Recipient'),
 ('well.', 'Recipient'),
 ('Pls', 'Recipient'),
 ('help,', 'Recipient'),
 ('retweet,', 'Recipient'),
 ('send', 'Recipient'),
 ('info', 'Recipient'),
 ('#', 'Recipient'),
 ('HurricaneHarvery', 'Recipient')]

## Address parser function to manipulate output

In [85]:
# Function uses libpostal address parser and reformats output into a dictionary

def libpost_parser(tweet):
    libpost = usaddress.parse(tweet)
    parsed_address = {}
    for value, key in libpost: 
        parsed_address[key] = value

    return parsed_address

In [86]:
# Test function on several tweets

parsed_address = libpost_parser(twt_2)

In [87]:
parsed_address

{'Recipient': 'II', 'AddressNumber': '11607', 'StreetName': 'Oaks'}

In [88]:
libpost_parser(twt_6)

{'AddressNumber': '412',
 'StreetName': 'Texas',
 'StreetNamePostType': 'St.',
 'PlaceName': 'Houston',
 'StateName': 'TX',
 'ZipCode': '77587'}

## Expand libpostal parser function

Process tweets in dataframe based on multiple conditionals about the validity of output from the libpostal parser

In [91]:
# Full address parser function that asseses validity of the output from libpostal parser
# based on city and street lookups, and returns a combined formatted address.

def parser_full(tweet): 
    
    tweet = tweet.replace('#', ' ').replace('@', ' ').replace('/', ' ')
    libpost = usaddress.parse(tweet)
    parsed_address = {}
    
    for value, key in libpost: 
        parsed_address[key] = value
    
    st_num_bin = 0
    street_bin = 0
    city_bin = 0
    state = 0
    zip_bin = 0
    
    if 'house_number' in parsed_address:
        if parsed_address['house_number'].isdigit() and (len(parsed_address['house_number']) < 6): 
            street_num = parsed_address['house_number']
            st_num_bin = 1
    else: 
        street_num = 'NA'
    
    if 'road' in parsed_address:
        #if parsed_address['road'] in street_lookup:
        street = parsed_address['road']
        street_bin = 1  
            
        # Below section requires further testing to validate street    
        #elif 'city' in parsed_address:
            #if parsed_address['city'] in tx_city_list: #and parsed_address['city'] != 'houston':
                #street = parsed_address['road']
                #street_bin = 1 
            #else: 
                #street = 'NA'
        #else: 
            #street = 'NA'
    else: 
        street = 'NA'
    
    if 'city' in parsed_address:
        if parsed_address['city'] in tx_city_list:
            city = parsed_address['city']
            city_bin = 1
    #else: 
        #city = 'houston'
        #city_bin = 1

    # Below block should be used when pulling data from multiple states     
    if 'state' in parsed_address:
        if len(parsed_address['state']) == 2:
            state = parsed_address['state']
            state_bin = 1;
    else: 
        state = 'tx'
        state_bin = 1
    
    if 'postcode' in parsed_address:
        if parsed_address['postcode'].isdigit() and (len(parsed_address['postcode']) == 5):    
            zipcode = parsed_address['postcode']
            zip_bin = 1
            
    if st_num_bin == 0 and street_bin == 0: 
        formatted_addr = 'NA'
        
    if street_bin == 1:
        if st_num_bin == 1: 
            if city_bin == 1: 
                if zip_bin == 1:
                    formatted_addr = f'{street_num} {street}, {city}, {state} {zipcode}'
                else: 
                    formatted_addr = f'{street_num} {street}, {city}, {state}'
            elif zip_bin == 1: 
                formatted_addr = f'{street_num} {street}, {state} {zipcode}'
            else: 
                formatted_addr = f'{street_num} {street}, {state}'
        else:
            if city_bin == 1: 
                if zip_bin == 1:
                    formatted_addr = f'{street}, {city}, {state} {zipcode}'
                else: 
                    formatted_addr = f'{street}, {city}, {state}'
            elif zip_bin == 1: 
                formatted_addr = f'{street}, {state} {zipcode}'  
            else: 
                formatted_addr = 'NA'
    else: 
        formatted_addr = 'NA'
    
    
    return formatted_addr

In [94]:
# Test parser function

parser_full(twt_6)

'NA'

In [95]:
parsed_address

{'Recipient': 'II', 'AddressNumber': '11607', 'StreetName': 'Oaks'}

In [97]:
usaddress.parse(df.loc[265164, 'tweet'])

[('Forward\n', 'SubaddressType'),
 ('1', 'SubaddressIdentifier'),
 ('adult,', 'SubaddressType'),
 ('8', 'SubaddressIdentifier'),
 ('year', 'Recipient'),
 ('old', 'Recipient'),
 ('w/autism)\n', 'Recipient'),
 ('On', 'Recipient'),
 ('top', 'Recipient'),
 ('of', 'Recipient'),
 ('car', 'Recipient'),
 ('in', 'Recipient'),
 ('garage\n', 'Recipient'),
 ('2935', 'AddressNumber'),
 ('40th', 'StreetName'),
 ('St.', 'StreetNamePostType'),
 ('#', 'OccupancyIdentifier'),
 ('Port', 'PlaceName'),
 ('Arthur,', 'PlaceName'),
 ('TX', 'StateName'),
 ('77642\n', 'ZipCode'),
 ('#', 'Recipient'),
 ('SOS', 'Recipient'),
 ('#', 'Recipient'),
 ('HELP', 'Recipient'),
 ('#', 'Recipient'),
 ('HARVEY', 'Recipient'),
 ('#', 'Recipient'),
 ('HARVEYSOS', 'Recipient')]

In [98]:
parser_full(df.loc[265164, 'tweet'])

'NA'

In [99]:
# Apply Address Parser to entire tweet column in dataframe creating new column

df_add['formatted_addr'] = df_add['tweet'].apply(parser_full)

C:\Users\Abhinaya\AppData\Local\Temp\ipykernel_3444\3169388344.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_add['formatted_addr'] = df_add['tweet'].apply(parser_full)

In [100]:
# Check Dataframe for non-'NA' values

df_add[df_add['formatted_addr'] != 'NA']

Empty DataFrame
Columns: [date, id, tweet, nb_label, st_matches, bin_match, formatted_addr]
Index: []

In [101]:
# Test Geocodio

geo_loc2 = client.geocode('4901 38th Street,dickinson, tx')
geo_loc2['results'][0]

NameError: name 'client' is not defined